body {
  background-color: #15008c !important;
}
.card{ 
  margin-top: 50px;
  width: 800px;
  height: 500px;
  border: 1px solid white;
  border-radius: 30px !important;
  background-color: white;
}
ul {list-style: none;}
.uis-check-circle {color: #F13E7E;}
h2 {font-weight: bold;}
h6 {font-size: 12px;}

@media (min-width: 577px) {

  .mobileimg{ 
    display:none; }
  .desktopimg{
    width: 350px;
  }
  }

@media (max-width: 576px) {
  .desktopimg{
    display: none;} 
  .card{
    width: 400px;
    display: flex;  
    }
  .row{
    display:flex;
    flex-direction:column-reverse;}
}
